body {
    background-color: #1c1b22;
}

* {
    box-sizing: border-box;
}

.center-horizontal {
    display:flex;
    justify-content:center;
}

.resizing-box {
    display:flex;
    max-width: 1200px;
    width:100%;
    margin: 50px;
    flex-direction:row;
    justify-content:space-around;
}

.htmx-settling .panel-content {
  opacity: 0;
}

.panel {
    border-radius: 20px;
    background-color: #eeeeee;
    width: 500px;
    min-height: 600px;
    margin:10px;
    display:flex;
    justify-content:center;
}

.panel-content {
    transition: opacity 300ms ease-in;
    width: 100%;
    
}

.panel-title > .panel-title-refresh {
    margin-left: 10px;
    display:flex;
    align-items:center;
    
}
.panel-title > .panel-title-refresh > button {
    background-color: #b2dEf1;
    border: 1px solid #729EA1;
    border-radius: 5px;
    color: black;
}
.panel-title > .panel-title-refresh > button:hover {
    background-color: #f2fef1;
    border: 1px solid black;
}

.panel-title {
    display:flex;
    justify-content: center;
    width:100%;
}

.alert-message {
    display:flex;
    width: 100%;
    background-color: #eecccc;
    border: 2px solid black;
    border-radius: 15px;
    align-items: center;
    justify-content:center;
}
