<form id="course-toggle-list-form"
        hx-post="/canvas/setcourses"
      hx-swap="outerHTML">
    <button
            type="submit"
            >
            Confirm
    </button>
    <select
        name="term" 
        id="term-dropdown" 
        hx-get="/canvas/coursetoggle"
        hx-target="#course-toggle-list-form"
        hx-swap="outerHTML"
        >
        {% for term in terms %}

        <option value="{{ term }}"
                {% if term == selected_term %}
                    selected
                {% endif %}
        >{{ term }}</option>

        {% endfor %}
    </select>
        <br>
    

    {% for course in courses %}

    <input 
        name="{{ course['id'] }}" 
        type="checkbox"
        {% if course['id'] in sel_courses %}
            checked
        {% endif %}
        >
        {{course['name']}}

    </input><br>

    {% endfor %}

</form>
