
<div class="panel-content" id="canvas-todo"> 
    <div class="panel-title">
        <h4>Pending Assignments</h1>
        <div class="panel-title-refresh">
            <button hx-get="/canvas/todo" hx-target="#canvas-todo" hx-swap="outerHTML">
                Refresh
            </button>
        </div>
    </div>

    <div hx-get="/static/toggle-list-button.html" hx-trigger="load">
    </div>


    {% if message  %}
    <div class="alert-message">

    {{ message }}
    </div>
    {% endif %}
    <ul>
        {% for item in todo_list %}
        <li>
            {{item["name"]}}
        </li>
        {% endfor %}
    </ul>
</div>
