<div class="panel-content" id="workflowy-todo"> 
    <div class="panel-title">
        <a href="https://workflowy.com">
            <img 
                src="/static/icons/workflowy-logo-1.png"
                width=50
                height=50
                >
        </a>
        <a href="https://workflowy.com">
            <h4>Workflowy TODO</h1>
        </a>
        <div class="panel-title-refresh">
            <button hx-get="/workflowy/todo" hx-target="#workflowy-todo" hx-swap="outerHTML">
                Refresh
            </button>
        </div>
    </div>
    {% if message  %}
    <div class="alert-message">

    {{ message }}
    </div>
    {% endif %}
    <ul>
        {% for item in todo_list %}
        <li>
            <a href="https://workflowy.com/#/{{ item['id'][(item['id'].rfind('-') + 1):] }}">
            {{item["name"]}}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
